In [18]:
import pandas as pd
import numpy as np

In [19]:
# We will need a value map for each kind of categorical response

value_map_1 = {
    1: 'Always',
    2: 'Sometimes',
    3: 'Never',
    0: 'Inap',
    9: np.nan
}

value_map_2 = {
    1: 'Yes',
    5: 'No',
    0: 'Inap',
    9: np.nan
}

# and a dictionary that classifies each column in the dataset
variable_dict = {
    'type1': ['var1', 'var2', 'var3'],
    'type2': ['var4', 'var5', 'var6']
}

map_dict = {
    'type1': value_map_1,
    'type2': value_map_2
}

In [20]:
# This is a sample dataframe to show how the above dicts would be used:
sample_df = pd.DataFrame({
    'var1': [1, 2, 3, 0, 9, 2],
    'var2': [3, 2, 1, 9, 9, 0],
    'var3': [2, 2, 1, 9, 0, 1],
    'var4': [1, 1, 1, 5, 5, 9],
    'var5': [0, 0, 0, 5, 9, 5],
    'var6': [1, 1, 1, 5, 5, 9]
})

sample_df

   var1  var2  var3  var4  var5  var6
0     1     3     2     1     0     1
1     2     2     2     1     0     1
2     3     1     1     1     0     1
3     0     9     9     5     5     5
4     9     9     0     5     9     5
5     2     0     1     9     5     9

In [21]:
new_df = pd.DataFrame()

for key in variable_dict.keys():
    variables = variable_dict[key]
    for variable in variables:
        new_df[variable] = sample_df[variable].map(map_dict[key])

In [22]:
new_df

        var1       var2       var3 var4  var5 var6
0     Always      Never  Sometimes  Yes  Inap  Yes
1  Sometimes  Sometimes  Sometimes  Yes  Inap  Yes
2      Never     Always     Always  Yes  Inap  Yes
3       Inap        NaN        NaN   No    No   No
4        NaN        NaN       Inap   No   NaN   No
5  Sometimes       Inap     Always  NaN    No  NaN